sudo : required
services :
  - docker

before_install :
  - docker image build -t rasheeddeen/docker-react -f Dockerfile.dev

script :
  - docker container run rasheeddeen/docker-react npm run test -- --coverage